/* Welcome to Compass.
* In this file you should write your main styles. (or centralize your imports)
* Import this file using the following HTML or equivalent:
* <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans:300,300i,400,400i,700,700i);
/* line 5, ../../../.rvm/gems/ruby-2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../.rvm/gems/ruby-2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../.rvm/gems/ruby-2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../.rvm/gems/ruby-2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../.rvm/gems/ruby-2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../.rvm/gems/ruby-2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../.rvm/gems/ruby-2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../.rvm/gems/ruby-2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../.rvm/gems/ruby-2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 8, ../sass/screen.scss */
html,
body {
  width: 100%;
  height: 100%;
}

/* line 14, ../sass/screen.scss */
body {
  font-size: 100%;
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  color: #455661;
  font-family: "Alegreya Sans", sans-serif;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  background-color: #fff5e2;
}

/* line 26, ../sass/screen.scss */
body, h1, h2, h3, h4, h5, h6, p, a, li, dt, dd, label, div, span {
  font-family: "Alegreya Sans", sans-serif;
}

/* line 30, ../sass/screen.scss */
h2 {
  font-size: 45px;
  font-weight: 700;
  line-height: 1.2em;
}

/* line 36, ../sass/screen.scss */
p {
  font-size: 16px;
  line-height: 1.5em;
}
@media only screen and (max-width: 700px) {
  /* line 36, ../sass/screen.scss */
  p {
    font-size: 18px;
  }
}

/* line 44, ../sass/screen.scss */
ul, li {
  list-style: none;
}

/* line 48, ../sass/screen.scss */
a {
  color: #455661;
  text-decoration: none;
}
/* line 51, ../sass/screen.scss */
a:visited {
  color: #455661;
}
/* line 54, ../sass/screen.scss */
a:hover {
  color: #8f9595;
}

/*
* Remove text-shadow in selection highlight: h5bp.com/i
* These selection rule sets have to be separate.
* Customize the background color to match your design.
*/
/* line 66, ../sass/screen.scss */
::-moz-selection {
  background: #fff5e2;
  text-shadow: none;
}

/* line 71, ../sass/screen.scss */
::selection {
  background: #fff5e2;
  text-shadow: none;
}

/*
* A better looking default horizontal rule
*/
/* line 80, ../sass/screen.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
* Remove the gap between images, videos, audio and canvas and the bottom of
* their containers: h5bp.com/i/440
*/
/* line 94, ../sass/screen.scss */
audio,
canvas,
img,
svg,
video {
  vertical-align: middle;
}

/*
* Remove default fieldset styles.
*/
/* line 106, ../sass/screen.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
* Allow only vertical resizing of textareas.
*/
/* line 116, ../sass/screen.scss */
textarea {
  resize: vertical;
}

/* ==========================================================================
Browse Happy prompt
========================================================================== */
/* line 124, ../sass/screen.scss */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* line 131, ../sass/screen.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 135, ../sass/screen.scss */
ul {
  display: inline-block;
}

/* line 139, ../sass/screen.scss */
strong {
  font-weight: 700;
}

/* line 143, ../sass/screen.scss */
em {
  font-style: italic;
}

/* line 147, ../sass/screen.scss */
.judyssite {
  width: 100%;
  height: 100%;
  position: relative;
}

/* line 153, ../sass/screen.scss */
.bg-image {
  width: 100%;
  margin: 0 auto;
  background-color: #fff5e2;
  background-image: url('../images/cv.jpg?1516160516');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

/* line 167, ../sass/screen.scss */
nav {
  width: 100%;
  background-color: #fff5e2;
  margin: 0 auto;
  overflow: hidden;
}

/* line 174, ../sass/screen.scss */
.nav {
  width: 100%;
  height: auto;
  margin: 0 auto;
  overflow: hidden;
  clear: both;
  max-width: 1300px;
}
/* line 181, ../sass/screen.scss */
.nav a {
  text-decoration: none;
}

/* line 186, ../sass/screen.scss */
.nav-info {
  width: 60%;
  float: left;
  margin: 35px 0 20px 30px;
}
/* line 190, ../sass/screen.scss */
.nav-info li {
  text-align: left;
  line-height: 2em;
  font-size: 20px;
}

/* line 197, ../sass/screen.scss */
.show {
  display: block !important;
}

/* line 201, ../sass/screen.scss */
.nav-mobile {
  width: auto;
  float: right;
  margin: 40px 30px 30px 0;
}
/* line 205, ../sass/screen.scss */
.nav-mobile .dropdown {
  overflow: hidden;
}
/* line 207, ../sass/screen.scss */
.nav-mobile .dropdown .dropbtn {
  cursor: pointer;
  display: inline-block;
  border: none;
  background-color: #fff5e2;
}

/* line 216, ../sass/screen.scss */
.bar1, .bar2, .bar3 {
  width: 30px;
  height: 5px;
  background-color: #455661;
  margin: 6px 0;
  transition: 0.4s;
  z-index: 999;
  position: relative;
}

/* line 226, ../sass/screen.scss */
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
  background-color: #fff5e2;
}

/* line 232, ../sass/screen.scss */
.change .bar2 {
  opacity: 0;
}

/* line 234, ../sass/screen.scss */
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
  background-color: #fff5e2;
}

/* line 240, ../sass/screen.scss */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #455661;
  min-width: 100%;
  height: 100%;
  z-index: 100;
}

/* line 250, ../sass/screen.scss */
.dropdown-content li:first-child {
  margin-top: 20%;
}
/* line 253, ../sass/screen.scss */
.dropdown-content li a {
  float: none;
  color: #fff5e2;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
}

/* line 263, ../sass/screen.scss */
.dropdown-content a:hover {
  background-color: #fff5e2;
  color: #455661;
}

/* line 268, ../sass/screen.scss */
.social-icons {
  float: left;
  margin: 0 30px 10px 30px;
  width: auto;
  height: auto;
  clear: both;
}
/* line 274, ../sass/screen.scss */
.social-icons a {
  display: inline-block;
}
/* line 276, ../sass/screen.scss */
.social-icons a.social-facebook {
  background: url('../images/facebook.png?1516160516') no-repeat transparent;
  width: 35px;
  height: 35px;
  background-size: contain;
  border: 0;
  margin-right: 10px;
}
/* line 285, ../sass/screen.scss */
.social-icons a.social-instagram {
  background: url('../images/instagram.png?1516160516') no-repeat transparent;
  width: 35px;
  height: 35px;
  background-size: contain;
  border: 0;
  margin-right: 10px;
}
/* line 294, ../sass/screen.scss */
.social-icons a.social-linkedin {
  background: url('../images/linkedin.png?1516160516') no-repeat transparent;
  width: 35px;
  height: 35px;
  background-size: contain;
  border: 0;
  margin-right: 10px;
}

/* line 306, ../sass/screen.scss */
.padded {
  margin: 0 30px;
}

/* line 310, ../sass/screen.scss */
.border {
  background-color: #979797;
  height: 1px;
  width: 100%;
  margin: 0;
  max-width: 1150px;
  margin: 0 auto;
}

/* line 319, ../sass/screen.scss */
p.name {
  font-size: 30px;
  font-weight: 700;
  text-align: left;
  margin-left: 30px;
  margin-top: 10px;
  text-transform: uppercase;
}

/* line 328, ../sass/screen.scss */
.menu-content {
  display: none;
}

/* line 332, ../sass/screen.scss */
section {
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  clear: both;
  margin: 0 auto;
}

/* line 341, ../sass/screen.scss */
#home {
  background-color: #df988c;
  position: relative;
}
/* line 344, ../sass/screen.scss */
#home .container {
  padding: 40px 30px;
  max-width: 1040px;
  margin: 0 auto;
}

/* line 351, ../sass/screen.scss */
.main-image {
  width: 100%;
  margin: 0 auto;
  max-width: 1140px;
  overflow: hidden;
}
/* line 356, ../sass/screen.scss */
.main-image img {
  width: 100%;
  height: auto;
}

/* line 362, ../sass/screen.scss */
.welcome {
  width: 100%;
  overflow: hidden;
  background-color: #fff5e2;
  margin: 20px auto 0 auto;
}
/* line 367, ../sass/screen.scss */
.welcome h2 {
  text-align: center;
  padding: 20px;
}
/* line 371, ../sass/screen.scss */
.welcome p {
  padding: 0 20px 20px;
}

/* line 376, ../sass/screen.scss */
#cv {
  clear: both;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}
/* line 382, ../sass/screen.scss */
#cv .cv-container-medium {
  max-width: 1040px;
  margin: 0 auto;
  background-color: transparent;
  height: 300px;
  position: relative;
}
/* line 390, ../sass/screen.scss */
#cv .cv-header {
  width: 100%;
  text-align: left;
  margin: 0 30px;
  position: absolute;
  top: 50%;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* line 395, ../sass/screen.scss */
#cv .cv-header h3 {
  font-size: 45px;
  font-weight: 700;
  color: #fff5e2;
}
/* line 400, ../sass/screen.scss */
#cv .cv-header p {
  font-size: 20px;
  color: #fff5e2;
}
/* line 406, ../sass/screen.scss */
#cv .cv-container-big {
  width: 100%;
  background-color: #c9513e;
  margin: 0 auto;
}
/* line 412, ../sass/screen.scss */
#cv .cv-container {
  padding: 0 30px 60px 30px;
  max-width: 1300px;
  margin: 0 auto;
}
/* line 417, ../sass/screen.scss */
#cv .cv-container .brief .cv-images {
  display: block;
  margin-top: 30px;
  padding-bottom: 15px;
}
/* line 422, ../sass/screen.scss */
#cv .cv-container .brief li {
  text-align: left;
  clear: both;
  padding-top: 30px;
}
/* line 427, ../sass/screen.scss */
#cv .cv-container .brief h3 {
  font-size: 30px;
  color: #fff5e2;
  font-weight: bold;
}
/* line 432, ../sass/screen.scss */
#cv .cv-container .brief p {
  font-size: 20px;
  color: #fff5e2;
  font-weight: 300;
}
/* line 438, ../sass/screen.scss */
#cv .cv-container .skills {
  width: 100%;
  margin: 60px auto 0 auto;
}
/* line 441, ../sass/screen.scss */
#cv .cv-container .skills .set {
  margin: 0 auto 60px auto;
  display: block;
  width: 240px;
  position: relative;
}
/* line 446, ../sass/screen.scss */
#cv .cv-container .skills .set p {
  position: absolute;
  z-index: 10;
  font-size: 28px;
  padding: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
/* line 453, ../sass/screen.scss */
#cv .cv-container .skills .set .yellow {
  color: #fff5e2;
}
/* line 456, ../sass/screen.scss */
#cv .cv-container .skills .set .pie {
  width: 240px;
  -webkit-border-radius: 120px;
  -moz-border-radius: 120px;
  border-radius: 120px;
}
/* line 462, ../sass/screen.scss */
#cv .cv-container .skills .set .yellow-pie {
  background: #fff5e2;
}
/* line 465, ../sass/screen.scss */
#cv .cv-container .skills .set .grey-pie {
  background: #455661;
}

@media (min-width: 700px) {
  /* line 510, ../sass/screen.scss */
  .nav-info {
    margin-left: 80px;
    margin-bottom: 10px;
    float: left;
    width: 60%;
    text-align: left;
  }
  /* line 516, ../sass/screen.scss */
  .nav-info li {
    display: inline-block;
    font-size: 18px;
    padding-right: 40px;
  }

  /* line 524, ../sass/screen.scss */
  .social-icons {
    float: right;
    width: auto;
    clear: none;
    margin: 35px 80px 10px 0;
  }

  /* line 531, ../sass/screen.scss */
  .nav-mobile {
    display: none;
  }

  /* line 535, ../sass/screen.scss */
  .padded {
    margin: 0 80px;
  }

  /* line 539, ../sass/screen.scss */
  .menu {
    overflow: hidden;
    max-width: 1300px;
    margin: 0 auto;
  }
  /* line 543, ../sass/screen.scss */
  .menu p.name {
    width: auto;
    float: left;
    margin-left: 80px;
    margin-top: 10px;
  }
  /* line 550, ../sass/screen.scss */
  .menu .menu-content {
    display: block;
    float: right;
    width: auto;
    margin-right: 80px;
    margin-top: 20px;
  }
  /* line 556, ../sass/screen.scss */
  .menu .menu-content li {
    display: inline-block;
    margin: 0 10px;
    font-size: 18px;
  }
  /* line 560, ../sass/screen.scss */
  .menu .menu-content li:last-child {
    margin-right: 0;
  }

  /* line 567, ../sass/screen.scss */
  .social-icons {
    margin-top: 40px;
  }
  /* line 570, ../sass/screen.scss */
  .social-icons a.social-facebook {
    width: 25px;
    height: 25px;
  }
  /* line 574, ../sass/screen.scss */
  .social-icons a.social-instagram {
    width: 25px;
    height: 25px;
  }
  /* line 578, ../sass/screen.scss */
  .social-icons a.social-linkedin {
    width: 25px;
    height: 25px;
  }

  /* line 585, ../sass/screen.scss */
  #home {
    min-height: 800px;
  }
  /* line 587, ../sass/screen.scss */
  #home .welcome {
    position: absolute;
    left: 50%;
    top: 60%;
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 940px;
    margin-bottom: 30px;
  }
  /* line 592, ../sass/screen.scss */
  #home .welcome h2 {
    font-size: 50px;
    padding: 40px 50px;
  }
  /* line 596, ../sass/screen.scss */
  #home .welcome p {
    font-size: 25px;
    padding: 0 50px 40px 50px;
  }

  /* line 606, ../sass/screen.scss */
  #cv .cv-container li {
    display: inline-block;
    width: 33%;
    vertical-align: top;
  }
  /* line 610, ../sass/screen.scss */
  #cv .cv-container li p {
    padding-right: 30px;
  }
  /* line 614, ../sass/screen.scss */
  #cv .cv-container .skills {
    margin-top: 40px;
  }
  /* line 616, ../sass/screen.scss */
  #cv .cv-container .skills .set {
    display: inline-block;
    width: 50%;
    max-width: 240px;
    margin: 20px 30px;
  }
}
@media (min-width: 700px) and (min-width: 1024px) {
  /* line 648, ../sass/screen.scss */
  .welcome h2 {
    font-size: 88px;
  }

  /* line 656, ../sass/screen.scss */
  #cv .cv-container .skills .set {
    display: inline-block;
    width: 180px;
    margin: 0 20px;
  }
  /* line 660, ../sass/screen.scss */
  #cv .cv-container .skills .set .pie {
    width: 180px;
    -webkit-border-radius: 90px;
    -moz-border-radius: 90px;
    border-radius: 90px;
  }
}
