/* Welcome to Compass.
* In this file you should write your main styles. (or centralize your imports)
* Import this file using the following HTML or equivalent:
* <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url(https://fonts.googleapis.com/css?family=Slabo+27px);
@import url(https://fonts.googleapis.com/css?family=Montserrat:200);
/* line 5, ../../../.rvm/gems/ruby-2.4.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../.rvm/gems/ruby-2.4.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../.rvm/gems/ruby-2.4.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../.rvm/gems/ruby-2.4.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../.rvm/gems/ruby-2.4.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../.rvm/gems/ruby-2.4.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../.rvm/gems/ruby-2.4.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../.rvm/gems/ruby-2.4.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../.rvm/gems/ruby-2.4.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 8, ../sass/screen.scss */
html,
body {
  width: 100%;
  height: 100%;
}

/* line 14, ../sass/screen.scss */
body {
  -moz-transition: opacity 700ms;
  -o-transition: opacity 700ms;
  -webkit-transition: opacity 700ms;
  transition: opacity 700ms;
  font-size: 100%;
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  color: #455661;
  font-family: "Slabo 27px", serif;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  background-color: white;
}

/* line 30, ../sass/screen.scss */
body.hidden-body {
  opacity: 0;
  -moz-transition: opacity 700ms;
  -o-transition: opacity 700ms;
  -webkit-transition: opacity 700ms;
  transition: opacity 700ms;
}

/* line 38, ../sass/screen.scss */
body, h1, h2, h3, h4, h5, h6, p, a, li, dt, dd, label, div, span, input, textarea {
  font-family: "Slabo 27px", serif;
}

/* line 42, ../sass/screen.scss */
h2 {
  font-size: 45px;
  font-weight: 700;
  line-height: 1.2em;
}

/* line 48, ../sass/screen.scss */
p {
  font-size: 16px;
  line-height: 1.5em;
}
@media only screen and (max-width: 700px) {
  /* line 48, ../sass/screen.scss */
  p {
    font-size: 18px;
  }
}

/* line 56, ../sass/screen.scss */
ul, li {
  list-style: none;
}

/* line 60, ../sass/screen.scss */
a {
  color: #455661;
  text-decoration: none;
}
/* line 63, ../sass/screen.scss */
a:visited {
  color: #455661;
}
/* line 66, ../sass/screen.scss */
a:hover {
  color: #8f9595;
}

/*
* Remove text-shadow in selection highlight: h5bp.com/i
* These selection rule sets have to be separate.
* Customize the background color to match your design.
*/
/* line 78, ../sass/screen.scss */
::-moz-selection {
  background: white;
  text-shadow: none;
}

/* line 83, ../sass/screen.scss */
::selection {
  background: white;
  text-shadow: none;
}

/*
* A better looking default horizontal rule
*/
/* line 92, ../sass/screen.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
* Remove the gap between images, videos, audio and canvas and the bottom of
* their containers: h5bp.com/i/440
*/
/* line 106, ../sass/screen.scss */
audio,
canvas,
img,
svg,
video {
  vertical-align: middle;
}

/*
* Remove default fieldset styles.
*/
/* line 118, ../sass/screen.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
* Allow only vertical resizing of textareas.
*/
/* line 128, ../sass/screen.scss */
textarea {
  resize: vertical;
}

/* ==========================================================================
Browse Happy prompt
========================================================================== */
/* line 136, ../sass/screen.scss */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* line 143, ../sass/screen.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 147, ../sass/screen.scss */
ul {
  display: inline-block;
}

/* line 151, ../sass/screen.scss */
strong {
  font-weight: 700;
}

/* line 155, ../sass/screen.scss */
em {
  font-style: italic;
}

/* line 159, ../sass/screen.scss */
section {
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  clear: both;
  margin: 0 auto;
}

/* line 168, ../sass/screen.scss */
.judyssite {
  width: 100%;
  height: 100%;
  position: relative;
}

/* line 174, ../sass/screen.scss */
.bg-image {
  width: 100%;
  height: 100%;
  min-height: 1500px;
  margin: 0 auto;
  background-color: #fff5e2;
  background-image: url('../images/cv.jpg?1516132842');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  background-position: center;
}

/* line 190, ../sass/screen.scss */
nav {
  width: 100%;
  height: auto;
  background-color: white;
  margin: 0 auto;
  overflow: hidden;
  clear: both;
  -moz-transition: 200ms;
  -o-transition: 200ms;
  -webkit-transition: 200ms;
  transition: 200ms;
}

/* line 203, ../sass/screen.scss */
.max-width {
  margin: 0 auto;
  max-width: 1300px;
}

/* line 208, ../sass/screen.scss */
.nav-info {
  width: 60%;
  float: left;
  margin: 30px 0 10px 30px;
}
/* line 212, ../sass/screen.scss */
.nav-info li {
  display: block;
  text-align: left;
  line-height: 2em;
  font-size: 20px;
}

/* line 220, ../sass/screen.scss */
.show {
  display: block !important;
}

/* line 224, ../sass/screen.scss */
.nav-mobile {
  width: auto;
  float: right;
  margin: 40px 30px 30px 0;
  padding: 0;
  overflow: hidden;
}
/* line 230, ../sass/screen.scss */
.nav-mobile .dropbtn {
  cursor: pointer;
  display: inline-block;
  border: none;
  background-color: white;
}
/* line 236, ../sass/screen.scss */
.nav-mobile .bar1, .nav-mobile .bar2, .nav-mobile .bar3 {
  width: 30px;
  height: 5px;
  background-color: #455661;
  margin: 6px 0;
  transition: 0.4s;
  z-index: 999;
  position: relative;
}
/* line 245, ../sass/screen.scss */
.nav-mobile .change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
  background-color: #fff5e2;
}
/* line 250, ../sass/screen.scss */
.nav-mobile .change .bar2 {
  opacity: 0;
}
/* line 251, ../sass/screen.scss */
.nav-mobile .change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
  background-color: #fff5e2;
}

/* line 258, ../sass/screen.scss */
.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #455661;
  min-width: 100%;
  height: 100%;
  min-height: 500px;
  z-index: 100;
}
/* line 266, ../sass/screen.scss */
.dropdown-menu li:first-child {
  margin-top: 30%;
}
/* line 269, ../sass/screen.scss */
.dropdown-menu a {
  float: none;
  color: #fff5e2;
  padding: 12px 16px;
  display: block;
  text-align: center;
}
/* line 275, ../sass/screen.scss */
.dropdown-menu a:hover {
  background-color: #fff5e2;
  color: #455661;
}

/* line 282, ../sass/screen.scss */
.social-link-nav {
  float: left;
  margin: 0 30px;
  width: auto;
  height: auto;
  clear: both;
}
/* line 288, ../sass/screen.scss */
.social-link-nav a {
  display: inline-block;
  vertical-align: middle;
  border: 0;
  margin-right: 10px;
}
/* line 293, ../sass/screen.scss */
.social-link-nav a.social-facebook {
  background: url('../images/facebook.png?1516065629') no-repeat transparent;
  width: 25px;
  height: 25px;
  background-size: contain;
}
/* line 300, ../sass/screen.scss */
.social-link-nav a.social-instagram {
  background: url('../images/instagram.png?1516065631') no-repeat transparent;
  width: 25px;
  height: 25px;
  background-size: contain;
}
/* line 307, ../sass/screen.scss */
.social-link-nav a.social-linkedin {
  background: url('../images/linkedin.png?1516065635') no-repeat transparent;
  width: 25px;
  height: 25px;
  background-size: contain;
  margin-right: 0;
}

/* line 318, ../sass/screen.scss */
.border {
  background-color: #979797;
  height: 1px;
  width: 100%;
  margin: 30px auto;
  max-width: 1150px;
}

/* line 327, ../sass/screen.scss */
.menu {
  width: 100%;
  clear: both;
  overflow: hidden;
  margin-bottom: 30px;
}
/* line 332, ../sass/screen.scss */
.menu p {
  float: left;
  font-size: 25px;
  font-weight: 700;
  text-align: left;
  margin-left: 30px;
  margin-top: 10px;
  text-transform: uppercase;
}
/* line 341, ../sass/screen.scss */
.menu .menu-content {
  display: none;
}

/* line 346, ../sass/screen.scss */
#home {
  background-color: #df988c;
  position: relative;
}
/* line 349, ../sass/screen.scss */
#home .container {
  padding: 40px 30px;
  max-width: 1040px;
  margin: 0 auto;
  overflow: hidden;
}
/* line 355, ../sass/screen.scss */
#home .home-image {
  width: 100%;
  margin: 0 auto;
  max-width: 1040px;
}
/* line 359, ../sass/screen.scss */
#home .home-image img {
  width: 100%;
  height: auto;
}
/* line 364, ../sass/screen.scss */
#home .welcome {
  width: 100%;
  overflow: hidden;
  background-color: #fff5e2;
  margin: 20px auto 0 auto;
  -webkit-box-shadow: 1px 1px 3px 2px #ccc;
  -moz-box-shadow: 1px 1px 3px 2px #ccc;
  box-shadow: 1px 1px 3px 2px #ccc;
  opacity: 0.9;
  filter: Alpha(opacity=90);
  /* IE8 and earlier */
}
/* line 374, ../sass/screen.scss */
#home .welcome h2 {
  text-align: center;
  padding: 20px;
}
/* line 378, ../sass/screen.scss */
#home .welcome p {
  padding: 0 20px 20px;
}

/* line 385, ../sass/screen.scss */
#cv .cv-container-medium {
  max-width: 1040px;
  margin: 0 auto;
  background-color: transparent;
  height: 300px;
  position: relative;
}
/* line 391, ../sass/screen.scss */
#cv .cv-container-medium .cv-header {
  width: auto;
  text-align: left;
  margin: 0 30px;
  position: absolute;
  top: 50%;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* line 396, ../sass/screen.scss */
#cv .cv-container-medium .cv-header h3 {
  font-size: 45px;
  font-weight: 700;
  color: #fff5e2;
}
/* line 401, ../sass/screen.scss */
#cv .cv-container-medium .cv-header p {
  font-size: 20px;
  color: #fff5e2;
  font-style: italic;
}
/* line 409, ../sass/screen.scss */
#cv .cv-container-big {
  width: 100%;
  background-color: #c9513e;
  margin: 0 auto;
}
/* line 413, ../sass/screen.scss */
#cv .cv-container-big .cv-container {
  padding: 0 30px 60px 30px;
  max-width: 1300px;
  margin: 0 auto;
}
/* line 418, ../sass/screen.scss */
#cv .cv-container-big .cv-container .brief li {
  text-align: left;
  clear: both;
  padding-top: 30px;
}
/* line 423, ../sass/screen.scss */
#cv .cv-container-big .cv-container .brief .cv-images {
  display: block;
  margin-top: 30px;
  padding-bottom: 15px;
}
/* line 428, ../sass/screen.scss */
#cv .cv-container-big .cv-container .brief h3 {
  font-size: 30px;
  color: #fff5e2;
  font-weight: 700;
}
/* line 433, ../sass/screen.scss */
#cv .cv-container-big .cv-container .brief p {
  font-size: 18px;
  color: #fff5e2;
  font-weight: 300;
}
/* line 439, ../sass/screen.scss */
#cv .cv-container-big .cv-container .skills {
  width: 100%;
}
/* line 441, ../sass/screen.scss */
#cv .cv-container-big .cv-container .skills .set {
  margin: 60px auto;
  width: 240px;
  position: relative;
}
/* line 445, ../sass/screen.scss */
#cv .cv-container-big .cv-container .skills .set p {
  position: absolute;
  z-index: 10;
  font-size: 28px;
  padding: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
/* line 451, ../sass/screen.scss */
#cv .cv-container-big .cv-container .skills .set p.yellow {
  color: #fff5e2;
}
/* line 455, ../sass/screen.scss */
#cv .cv-container-big .cv-container .skills .set .pie {
  width: 240px;
  -webkit-border-radius: 120px;
  -moz-border-radius: 120px;
  border-radius: 120px;
}
/* line 460, ../sass/screen.scss */
#cv .cv-container-big .cv-container .skills .set .pie.yellow-pie {
  background: #fff5e2;
}
/* line 463, ../sass/screen.scss */
#cv .cv-container-big .cv-container .skills .set .pie.grey-pie {
  background: #455661;
}
/* line 470, ../sass/screen.scss */
#cv .cv-container-big .cv-container .downloadbtn {
  display: block;
  margin: 0 auto;
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 60px;
}
/* line 477, ../sass/screen.scss */
#cv .cv-container-big .cv-container .downloadbtn .button {
  background: #fff5e2 url("../images/pdf-icon.png") 30px -11px no-repeat !important;
  width: 250px;
  height: 50px;
  font-family: "Slabo 27px", serif;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #455661;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  text-align: right;
  padding-right: 60px;
}
/* line 495, ../sass/screen.scss */
#cv .cv-container-big .cv-container .downloadbtn .button:hover {
  background-color: #fff5e2;
  box-shadow: 0px 10px 15px #fff5e2;
  color: #c9513e;
  transform: translateY(-7px);
}

/* line 507, ../sass/screen.scss */
#projects {
  background-color: #fff5e2;
  padding-bottom: 20px;
}
/* line 511, ../sass/screen.scss */
#projects h3 {
  padding-top: 40px;
  font-size: 45px;
  color: #c9513e;
  font-weight: 700;
}
/* line 518, ../sass/screen.scss */
#projects p {
  font-size: 20px;
  color: #455661;
  font-style: italic;
  font-weight: 700;
  padding-bottom: 40px;
}
/* line 526, ../sass/screen.scss */
#projects .swiper-container.swiper-1 {
  width: 100%;
}
/* line 528, ../sass/screen.scss */
#projects .swiper-container.swiper-1 .swiper-slide.slider-image-1, #projects .swiper-container.swiper-1 .swiper-slide.slider-image-2, #projects .swiper-container.swiper-1 .swiper-slide.slider-image-3, #projects .swiper-container.swiper-1 .swiper-slide.slider-image-4, #projects .swiper-container.swiper-1 .swiper-slide.slider-image-5, #projects .swiper-container.swiper-1 .swiper-slide.slider-image-6, #projects .swiper-container.swiper-1 .swiper-slide.slider-image-7, #projects .swiper-container.swiper-1 .swiper-slide.slider-image-8, #projects .swiper-container.swiper-1 .swiper-slide.slider-image-9, #projects .swiper-container.swiper-1 .swiper-slide.slider-image-10 {
  width: 100%;
  height: 900px;
  background-size: cover;
  background-position: top center;
}
/* line 535, ../sass/screen.scss */
#projects .swiper-container.swiper-1 .slider-image-1 {
  background: url("../images/slides/ACWIS1.jpg") center no-repeat;
}
/* line 539, ../sass/screen.scss */
#projects .swiper-container.swiper-1 .slider-image-2 {
  background: url("../images/slides/AWF1.jpg") center no-repeat;
}
/* line 543, ../sass/screen.scss */
#projects .swiper-container.swiper-1 .slider-image-3 {
  background: url("../images/slides/SH1.jpg") center no-repeat;
}
/* line 547, ../sass/screen.scss */
#projects .swiper-container.swiper-1 .slider-image-4 {
  background: url("../images/slides/NASALA1.jpg") center no-repeat;
}
/* line 551, ../sass/screen.scss */
#projects .swiper-container.swiper-1 .slider-image-5 {
  background: url("../images/slides/HFH2.jpg") center no-repeat;
}
/* line 555, ../sass/screen.scss */
#projects .swiper-container.swiper-1 .slider-image-6 {
  background: url("../images/slides/NYU1.jpg") center no-repeat;
}
/* line 559, ../sass/screen.scss */
#projects .swiper-container.swiper-1 .slider-image-7 {
  background: url("../images/slides/AWF3.jpg") center no-repeat;
}
/* line 563, ../sass/screen.scss */
#projects .swiper-container.swiper-1 .slider-image-8 {
  background: url("../images/slides/AWF2.jpg") center no-repeat;
}
/* line 567, ../sass/screen.scss */
#projects .swiper-container.swiper-1 .slider-image-9 {
  background: url("../images/slides/DPA2.jpg") center no-repeat;
}
/* line 571, ../sass/screen.scss */
#projects .swiper-container.swiper-1 .slider-image-10 {
  background: url("../images/slides/RA1.jpg") center no-repeat;
}
/* line 576, ../sass/screen.scss */
#projects .swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  background: #455661;
}
/* line 582, ../sass/screen.scss */
#projects .swiper-container.swiper-2 {
  display: none;
}
/* line 586, ../sass/screen.scss */
#projects .swiper-pagination-1 {
  display: block;
}
/* line 590, ../sass/screen.scss */
#projects .swiper-pagination-2 {
  display: none;
}

/* line 595, ../sass/screen.scss */
#contact {
  background-color: #df988c;
  height: auto;
  padding: 40px 10px;
}
/* line 599, ../sass/screen.scss */
#contact .contact-container {
  position: relative;
  width: 100%;
  max-width: 1000px;
  height: 650px;
  margin: 0 auto;
  float: none;
  background-image: url('../images/contact.jpg?1516301634');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
/* line 615, ../sass/screen.scss */
#contact .contact-box {
  position: absolute;
  left: 50%;
  top: 50%;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 95%;
  background-color: white;
  height: 520px;
}
/* line 620, ../sass/screen.scss */
#contact .contact-box h3 {
  font-size: 30px;
  font-weight: 700;
  padding: 30px 0;
}
/* line 625, ../sass/screen.scss */
#contact .contact-box .info-normal {
  opacity: 1;
  margin: 0 auto;
  width: 100%;
}
/* line 629, ../sass/screen.scss */
#contact .contact-box .info-normal p {
  padding: 0 30px;
}
/* line 631, ../sass/screen.scss */
#contact .contact-box .info-normal p.slah {
  font-family: "Montserrat", sans-serif;
  font-size: 50px;
  padding: 20px 0 50px 0;
}
/* line 636, ../sass/screen.scss */
#contact .contact-box .info-normal p.connect {
  font-size: 25px;
  padding: 50px 0 30px 0;
}
/* line 642, ../sass/screen.scss */
#contact .contact-box .info-hover {
  opacity: 0;
  margin: 0 auto;
  position: absolute;
  top: 21%;
  width: 100%;
}
/* line 648, ../sass/screen.scss */
#contact .contact-box .info-hover #contact-form {
  margin: 0 10px;
  width: auto;
}
/* line 651, ../sass/screen.scss */
#contact .contact-box .info-hover #contact-form input {
  width: 90%;
  margin: 10px;
  padding: 3px;
}
/* line 656, ../sass/screen.scss */
#contact .contact-box .info-hover #contact-form textarea {
  height: 100px;
  margin: 10px;
  width: 90%;
  padding: 3px;
}
/* line 662, ../sass/screen.scss */
#contact .contact-box .info-hover #contact-form .submit-button {
  display: block;
  margin: 0 auto;
  display: flex;
  text-align: center;
  justify-content: center;
  background: #455661;
  width: 100px;
  height: 50px;
  font-family: "Slabo 27px", serif;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #fff5e2;
  border: none;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  text-align: center;
}
/* line 684, ../sass/screen.scss */
#contact .contact-box .info-hover #contact-form .submit-button:hover {
  box-shadow: 0px 10px 15px #8f9595;
  transform: translateY(-7px);
}
/* line 688, ../sass/screen.scss */
#contact .contact-box .info-hover #contact-form p {
  font-size: 12px;
  padding-bottom: 8px;
  clear: both;
}
/* line 693, ../sass/screen.scss */
#contact .contact-box .info-hover #contact-form .form-success p {
  font-size: 15px;
  padding: 10px 5px;
  font-style: italic;
}
/* line 702, ../sass/screen.scss */
#contact .social-link-contact {
  opacity: 0;
  width: 0;
  height: 0;
}

/* line 709, ../sass/screen.scss */
footer {
  background-color: white;
  overflow: hidden;
  padding: 20px;
}
/* line 713, ../sass/screen.scss */
footer .social-link-footer {
  width: auto;
  margin: 10px auto;
}
/* line 716, ../sass/screen.scss */
footer .social-link-footer a {
  display: inline-block;
  border: 0;
}
/* line 719, ../sass/screen.scss */
footer .social-link-footer a.fb-footer {
  background: url('../images/facebook.png?1516065629') no-repeat transparent;
  width: 20px;
  height: 20px;
  background-size: contain;
  margin-right: 10px;
}
/* line 727, ../sass/screen.scss */
footer .social-link-footer a.ins-footer {
  background: url('../images/instagram.png?1516065631') no-repeat transparent;
  width: 20px;
  height: 20px;
  background-size: contain;
  margin-right: 10px;
}
/* line 735, ../sass/screen.scss */
footer .social-link-footer a.lk-footer {
  background: url('../images/linkedin.png?1516065635') no-repeat transparent;
  width: 20px;
  height: 20px;
  background-size: contain;
}

/* line 746, ../sass/screen.scss */
#up-button {
  position: fixed;
  bottom: 4%;
  right: 3%;
  z-index: 998;
  display: none;
  height: auto;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
/* line 756, ../sass/screen.scss */
#up-button .round {
  position: relative;
  border: 3px solid #455661;
  width: 50px;
  height: 50px;
  border-radius: 100%;
}
/* line 763, ../sass/screen.scss */
#up-button span {
  z-index: 999;
  height: 3px;
  margin: 1px;
  width: 15px;
  background: #455661;
  transition: 0.4s ease;
}
/* line 770, ../sass/screen.scss */
#up-button span:first-child {
  display: block;
  position: absolute;
  transform: rotate(135deg);
  left: 21%;
  bottom: 35%;
}
/* line 777, ../sass/screen.scss */
#up-button span:nth-child(2) {
  display: block;
  position: absolute;
  transform: rotate(45deg);
  left: 43%;
  bottom: 35%;
}
/* line 784, ../sass/screen.scss */
#up-button span:nth-child(3) {
  display: block;
  position: absolute;
  transform: rotate(135deg);
  left: 21%;
  bottom: 54%;
}
/* line 791, ../sass/screen.scss */
#up-button span:nth-child(4) {
  display: block;
  position: absolute;
  transform: rotate(45deg);
  left: 43%;
  bottom: 54%;
}
/* line 800, ../sass/screen.scss */
#up-button .round:hover span:nth-child(1) {
  transform: rotate(315deg);
}
/* line 804, ../sass/screen.scss */
#up-button .round:hover span:nth-child(2) {
  transform: rotate(-135deg);
}
/* line 808, ../sass/screen.scss */
#up-button .round:hover span:nth-child(3) {
  transform: rotate(315deg);
}
/* line 812, ../sass/screen.scss */
#up-button .round:hover span:nth-child(4) {
  transform: rotate(-135deg);
}

@media (min-width: 700px) {
  /* line 818, ../sass/screen.scss */
  .bg-image {
    background-attachment: fixed;
  }

  /* line 822, ../sass/screen.scss */
  .nav-info {
    float: left;
    width: 60%;
    text-align: left;
  }
  /* line 826, ../sass/screen.scss */
  .nav-info li {
    display: inline-block;
    font-size: 18px;
    padding-right: 40px;
  }

  /* line 833, ../sass/screen.scss */
  .social-link-nav {
    float: right;
    width: auto;
    clear: none;
    margin: 35px 30px 10px 0;
  }

  /* line 840, ../sass/screen.scss */
  .nav-mobile {
    display: none;
  }

  /* line 844, ../sass/screen.scss */
  .menu {
    max-width: 1300px;
    margin: 0 auto 10px auto;
    border-top: 1px dotted #ccc;
  }
  /* line 848, ../sass/screen.scss */
  .menu p {
    width: auto;
    float: left;
    margin-top: 10px;
  }
  /* line 853, ../sass/screen.scss */
  .menu .menu-content {
    display: block;
    float: right;
    width: auto;
    margin-right: 30px;
    margin-top: 20px;
  }
  /* line 859, ../sass/screen.scss */
  .menu .menu-content li {
    display: inline-block;
    margin: 0 10px;
  }
  /* line 862, ../sass/screen.scss */
  .menu .menu-content li:last-child {
    margin-right: 0;
  }

  /* line 869, ../sass/screen.scss */
  .social-link-nav {
    margin-top: 40px;
  }

  /* line 873, ../sass/screen.scss */
  #home {
    min-height: 800px;
  }
  /* line 875, ../sass/screen.scss */
  #home .welcome {
    position: absolute;
    left: 50%;
    top: 60%;
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 940px;
    margin-bottom: 30px;
  }
  /* line 880, ../sass/screen.scss */
  #home .welcome h2 {
    font-size: 50px;
    padding: 40px 50px;
  }
  /* line 884, ../sass/screen.scss */
  #home .welcome p {
    font-size: 25px;
    padding: 0 50px 40px 50px;
  }

  /* line 892, ../sass/screen.scss */
  #cv .cv-container-medium {
    height: 500px;
  }
  /* line 899, ../sass/screen.scss */
  #cv .cv-container-big .cv-container .brief li {
    display: inline-block;
    width: 33%;
    vertical-align: top;
  }
  /* line 903, ../sass/screen.scss */
  #cv .cv-container-big .cv-container .brief li p {
    padding-right: 30px;
  }
  /* line 909, ../sass/screen.scss */
  #cv .cv-container-big .cv-container .skills {
    margin-top: 40px;
  }
  /* line 911, ../sass/screen.scss */
  #cv .cv-container-big .cv-container .skills .set {
    display: inline-block;
    margin: 20px 30px;
  }

  /* line 921, ../sass/screen.scss */
  #projects .swiper-container.swiper-2 {
    width: 100%;
    height: 100%;
    display: block;
  }
  /* line 925, ../sass/screen.scss */
  #projects .swiper-container.swiper-2 .swiper-slide.slider-image-1, #projects .swiper-container.swiper-2 .swiper-slide.slider-image-2, #projects .swiper-container.swiper-2 .swiper-slide.slider-image-3, #projects .swiper-container.swiper-2 .swiper-slide.slider-image-4, #projects .swiper-container.swiper-2 .swiper-slide.slider-image-5, #projects .swiper-container.swiper-2 .swiper-slide.slider-image-6, #projects .swiper-container.swiper-2 .swiper-slide.slider-image-7, #projects .swiper-container.swiper-2 .swiper-slide.slider-image-8, #projects .swiper-container.swiper-2 .swiper-slide.slider-image-9, #projects .swiper-container.swiper-2 .swiper-slide.slider-image-10 {
    width: 100%;
    height: 900px;
    background-size: cover;
    background-position: top center;
  }
  /* line 932, ../sass/screen.scss */
  #projects .swiper-container.swiper-2 .slider-image-1 {
    background: url("../images/slides/ACWIS1.jpg") center no-repeat;
  }
  /* line 936, ../sass/screen.scss */
  #projects .swiper-container.swiper-2 .slider-image-2 {
    background: url("../images/slides/AWF1.jpg") center no-repeat;
  }
  /* line 940, ../sass/screen.scss */
  #projects .swiper-container.swiper-2 .slider-image-3 {
    background: url("../images/slides/SH1.jpg") center no-repeat;
  }
  /* line 944, ../sass/screen.scss */
  #projects .swiper-container.swiper-2 .slider-image-4 {
    background: url("../images/slides/NASALA1.jpg") center no-repeat;
  }
  /* line 948, ../sass/screen.scss */
  #projects .swiper-container.swiper-2 .slider-image-5 {
    background: url("../images/slides/HFH2.jpg") center no-repeat;
  }
  /* line 952, ../sass/screen.scss */
  #projects .swiper-container.swiper-2 .slider-image-6 {
    background: url("../images/slides/NYU1.jpg") center no-repeat;
  }
  /* line 956, ../sass/screen.scss */
  #projects .swiper-container.swiper-2 .slider-image-7 {
    background: url("../images/slides/AWF3.jpg") center no-repeat;
  }
  /* line 960, ../sass/screen.scss */
  #projects .swiper-container.swiper-2 .slider-image-8 {
    background: url("../images/slides/AWF2.jpg") center no-repeat;
  }
  /* line 964, ../sass/screen.scss */
  #projects .swiper-container.swiper-2 .slider-image-9 {
    background: url("../images/slides/DPA2.jpg") center no-repeat;
  }
  /* line 968, ../sass/screen.scss */
  #projects .swiper-container.swiper-2 .slider-image-10 {
    background: url("../images/slides/RA1.jpg") center no-repeat;
  }
  /* line 973, ../sass/screen.scss */
  #projects .swiper-container.swiper-1 {
    display: none;
  }
  /* line 977, ../sass/screen.scss */
  #projects .swiper-pagination-1 {
    display: none;
  }
  /* line 981, ../sass/screen.scss */
  #projects .swiper-pagination-2 {
    display: block;
  }
}
@media (min-width: 1024px) {
  /* line 990, ../sass/screen.scss */
  .welcome h2 {
    font-size: 88px;
  }

  /* line 996, ../sass/screen.scss */
  #contact .contact-box {
    max-width: 500px;
    position: absolute;
    top: 50%;
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 5%;
  }
  /* line 1001, ../sass/screen.scss */
  #contact .social-link-contact {
    width: auto;
    position: absolute;
    top: 50%;
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 55%;
    height: 70px;
  }
  /* line 1006, ../sass/screen.scss */
  #contact .social-link-contact a {
    display: inline-block;
    vertical-align: middle;
  }
  /* line 1009, ../sass/screen.scss */
  #contact .social-link-contact a.triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 25px 0 25px 25px;
    border-color: transparent transparent transparent #ffffff;
    -webkit-transform: rotate(360deg);
    margin-right: 90px;
  }
  /* line 1018, ../sass/screen.scss */
  #contact .social-link-contact a.fb-white {
    background: url('../images/fb-white-icon.png?1516727866') no-repeat transparent;
    width: 50px;
    height: 50px;
    background-size: contain;
    border: 0;
    margin-right: 30px;
  }
  /* line 1027, ../sass/screen.scss */
  #contact .social-link-contact a.ins-white {
    background: url('../images/ins-white-icon.png?1516727767') no-repeat transparent;
    width: 50px;
    height: 50px;
    background-size: contain;
    border: 0;
    margin-right: 30px;
  }
  /* line 1036, ../sass/screen.scss */
  #contact .social-link-contact a.lk-white {
    background: url('../images/lk-white-icon.png?1516727026') no-repeat transparent;
    width: 55px;
    height: 55px;
    background-size: contain;
    border: 0;
  }
}
